@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body {
    font-family: "Pixelify Sans", sans-serif;
    color: #272727;
    background-image: var(--background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start; 
    align-items: center;  
    height: 100vh;
    margin: 0;
}
.div_principal {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    height: 100%; 
    padding-left: 50px; 
    gap: 20px;
}
.div_contenido {
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px); 
    padding: 20px; 
    border-radius: 10px; 
}
.div_principal h1 {
    font-size: 36px;
}
.div_principal label {
    font-size: 20px;
}
.div_principal input {
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 17px; 
    padding: 5px 0; 
    border: none; 
    border-bottom: 2px solid #ccc; 
    background: transparent; 
    margin-bottom: 20px; 
    width: 100%; 
    box-sizing: border-box;
    transition: border-bottom-color 0.3s; 
}
.div_principal input:focus {
    outline: none; 
    border-bottom-color: #7700ff;
}
.div_principal button {
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 16px; 
    padding: 10px 20px;
    border: none;
    background-color: #7700ff; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box; 
    text-align: center; 
    border-radius: 10px; 
}
.div_principal button:hover {
    background-color: #37006b; 
}
.div_principal a {
    font-family: "Pixelify Sans", sans-serif; 
    font-size: 16px; 
    color: #7700ff; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.div_principal a:hover {
    text-decoration: underline; 
    color: #7700ff; 
}